<% include partials/header.ejs %>

    <!--MAIN CONTENT -->
    <main class="container">

        <h1><%= title %></h1>
        <p>
            I am a student at Georgian College in the Computer Programmer Analyst program.
            My areas of study include web development, object oriented programming,
             and rapid appliaction development.<br /> For fun I like to play videogames, learn songs
             on the piano, read physics news, and draw.
        </p>

    </main>

<% include partials/footer.ejs %>