<!-- 
   file; index.ejs
   author; Josh Mineiro
   website; http://comp2068-assignment1part2-joshmineiro.azurewebsites.net
   description; default homepage/ .ejs template
-->

<% include partials/header.ejs %>

    <!--MAIN CONTENT -->
    <main class="container">

        <h1><%= title %></h1>
        <p>Welcome to the portfolio of Josh Mineiro, made with Express!
        </p>

    </main>

<% include partials/footer.ejs %>