<% include partials/header.ejs %>

    <!--MAIN CONTENT -->
    <main class="container">

        <h1><%= title %></h1>
        <p>I am not currently undergoing any projects. If you would like a website developed for you, please send me an email!
        </p>

    </main>

<% include partials/footer.ejs %>