<!-- 
   file; services.ejs
   author; Josh Mineiro
   website; http://comp2068-assignment1part2-joshmineiro.azurewebsites.net
   description; shows clients what services are provided/ .ejs template
-->

<% include partials/header.ejs %>

    <!--MAIN CONTENT -->
    <main class="container">

        <h1><%= title %></h1>
        <p>As a programmer student, I am able to develop interactive websites and web applications.
            If you would like me to develop your website, please visit the contact page and send me an email!
        </p>

    </main>

<% include partials/footer.ejs %>